.subdivArticalPage {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    text-align: left;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}

.divArticalPage {
    margin: 3rem;
    padding: 3rem;
    border: #e3e3e3 solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.cardArticalPage {
    border: none;
}


@media only screen and (max-width: 718px) {
    .divArticalPage {
        margin: 0.5rem;
        padding: 0.5rem;
        border: #e3e3e3 solid;
        border-width: 1px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

.articalArrow {
    text-align: right;
}